.h1 {
    display: flex;
    justify-content: center;
    color: rgb(255, 248, 149);
    text-shadow: 0 0 7px;
    font-weight: bold;
    font-size: 50px;
}

.titulo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(211, 179, 1);
    font-size: 36px;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.h5 {
    display: flex;
    justify-content: center;
    color: rgb(236, 202, 8);
    font-size: 32px;
}

.contenedor-fila {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px;
}

.imagen-home {
    width: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
}


.parrafo-home {
    width: 50vh;
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 24px;
    color: rgb(211, 179, 1);
}