.h1 {
    display: flex;
    justify-content: center;
    color: rgb(255, 248, 149);
    text-shadow: 0 0 7px;
    font-weight: bold;
    font-size: 50px;
}

.titulo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(211, 179, 1);
    font-size: 36px;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.h5 {
    display: flex;
    justify-content: center;
    color: rgb(236, 202, 8);
    font-size: 32px;
}

.contenedor-fila {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px auto;
    /* CLAVE: Permite que los elementos se apilen en pantallas pequeñas */
    flex-wrap: wrap;
    padding: 0 10px;
    align-items: center;
}


.imagen-home {
    /* CLAVE: Uso max-width para img adapta al contenedor */
    /* y NUNCA + q límites de pantalla. */
    max-width: 30%;
    height: auto; /* proporción img no se estira */
    margin: 10px;
    display: block;
}

.parrafo-home {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 24px;
    color: rgb(211, 179, 1);
}

@media (max-width: 768px) {
    .contenedor-fila {
        justify-content: center;
    }
    .imagen-home,
    .parrafo-home {
        max-width: 90%;
        font-size: 18px;
    }
    .imagen-home img {
        max-width: 200px !important;
        height: auto !important;
    }
}