body {
    background-color: #470068be;
    padding: 0px;
    margin: 0px;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items:center;
    background: linear-gradient(135deg, #284ae0b6 10%, #7102e0 90%);
    min-height: 10%;
}

.LetraNombreDorado {
    width: 560px;
    height: 120.5px;
}

.enter {
    display: grid;
    place-content: center;
}

.saludo{
    font-size: 1.9rem;
    color: rgb(248, 232, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 2px;
}

.marco {
    width: 300px;
    margin: 0 0 0 65px;
    padding: 2px;
    justify-content: center;
    border-radius: 10px;
}

.butn {
    background: linear-gradient(135deg, #7102e0 10%, #2340c2b6 90%);;
    color: rgb(248, 232, 5);
    border: none;
    width: 250px;
    margin-top: 20px;
    margin-left: 90px;
    padding: 2px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.butn-index {
    color: rgb(248, 232, 5);
    text-decoration: none;
    list-style: none;
}

.butn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgb(248, 232, 5);
}

.butn:active {
    transform: translateY(0);
}